* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;

}

.logo h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.header {
    background-color: #1C1E53;
    color: white;
    padding: 20px 0;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 30px;
}

.list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
}

.list li a {
    text-decoration: none;
    color: inherit;
}

.btn {
    border: 2px solid rgba(244, 246, 252, 0.2);
    border-radius: 41px;
    width: 125px;
    height: 55px;
    background-color: transparent;
    color: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}

.icon {
    display: none !important;
    font-size: 20px;
}

.btnn {
    border: 2px solid rgba(244, 246, 252, 0.2);
    border-radius: 41px;
    width: 125px;
    height: 50px;
    background-color: #FCD980;
    color: black;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}

.herosection {
    background-color: #1C1E53;
    color: white;
    padding: 20px 0;
}

.rap {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    width: 100%;
    align-items: center;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 12px;
}

.left h1 {
    font-weight: 600;
    font-size: 54px;
    line-height: 74px;
}

.left h6 {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}

.left .new {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
}

.left .new a {
    text-decoration: none;
    color: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}

.right {
    flex: 1;
    display: flex;
    justify-content: end;

}

.right img {
    width: 400px;
    height: 400px;
}



@media screen and (max-width:768px) {
    .navbar {
        position: absolute;
        flex-direction: column;
        top: 45px;
        background-color: #1C1E53;
        width: 100%;
        padding: 16px;
        align-items: flex-start;
        display: none;
    }

    .navbar .list {
        flex-direction: column;
        width: 100%;
    }

    .icon {
        display: flex !important;

    }

    .flex {
        display: flex !important;
    }

    .rap {
        flex-direction: column;
    }
    .left h1 {
        font-size: 30px ;
        line-height: 33px;
    }
    .left h6 {
        font-size: 14px;
    }

    .right img {
        width: 100%;
        height: 100%;
    }
}
