* {
    padding: 0;
    margin: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;

}

.logo h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.header {
    background-color: #1C1E53;
    color: white;
    padding: 20px 0;
}

.navbar {
    display: flex;
    align-items: center;
    gap: 30px;
}

.list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style: none;
}

.list li a {
    text-decoration: none;
    color: inherit;
}

.btn {
    border: 2px solid rgba(244, 246, 252, 0.2);
    border-radius: 41px;
    width: 125px;
    height: 55px;
    background-color: transparent;
    color: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
}

.icon {
    display: none !important;
    font-size: 20px;
}

@media screen and (max-width:768px) {
    .navbar {
        position: absolute;
        flex-direction: column;
        top: 45px;
        background-color: #1C1E53;
        width: 100%;
        padding: 16px;
        align-items: flex-start;
        display: none;
    }

    .navbar .list {
        flex-direction: column;
        width: 100%;
    }

    .icon{
        display: flex !important;
        
    }
}